* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  display: flex;
  width: 960px;
  margin: 50px auto;
}

.box {
  width: 300px;
  background-color: #eee;
  padding: 10px;
  position: relative;
}

.box:nth-child(2) {
  margin: 0 30px;
}

.step {
  background-color: #ff9a4b;
  color: #fff;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
}

.title {
  padding-top: 15px;
  padding-bottom: 5px;
}

.box-image1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  height: 150px;
  background-position: bottom;
}

.box-image2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  height: 150px;
  background-position: bottom;
}

.box-image3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  height: 150px;
  background-position: bottom;
}

footer {
  background-color: #aaa;
  height: 50px;
}
